Repository NVIDIA/spark-rapids, pull requests merged in 2020-06, with the labels that each got.

#252 Update to 0.2.0-SNAPSHOT and cudf-0.15-SNAPSHOT
  api_validation/pom.xml
  dist/pom.xml
  docs/configs.md
  docs/getting-started.md
  docs/testing.md
  integration_tests/README.md
  integration_tests/pom.xml
  jenkins/Jenkinsfile.integration
  jenkins/Jenkinsfile.nightly
  jenkins/databricks/build.sh
  jenkins/spark-tests.sh
  pom.xml
  shuffle-plugin/pom.xml
  sql-plugin/pom.xml
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/RapidsConf.scala
  tests/pom.xml
Labels: build

#257 Fix link to RAPIDS cudf in index.md
  docs/index.md
Labels: documentation

#260 Update master docs for repo URL fix
  docs/index.md
Labels: documentation

#255 Revert change to make dependencies of shaded jar optional
  dist/pom.xml
  jenkins/deploy.sh
Labels: build

#262 Refer to branch-0.2
  jenkins/Jenkinsfile.databricksnightly
  jenkins/Jenkinsfile.databricksrelease
  jenkins/Jenkinsfile.nightly
Labels: build

#264 Add a local mvn repo for nightly pipeline
  jenkins/Jenkinsfile.nightly
Labels: build

#162 Integration tests for corner cases in window functions.
  integration_tests/src/main/python/window_function_test.py
Labels: SQL, test

#271 Update the versions for 0.2.0 properly for the databricks build
  jenkins/Jenkinsfile.databricksnightly
  jenkins/databricks/build.sh
  jenkins/databricks/deploy.sh
Labels: build

#253 Remove GpuAttributeReference and GpuSortOrder
  api_validation/src/main/scala/com/nvidia/spark/rapids/api/ApiValidation.scala
  docs/dev/README.md
  integration_tests/src/main/python/cache_test.py
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuBoundAttribute.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuCast.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuExpandExec.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuExpressions.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuGenerateExec.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuHashJoin.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuHashPartitioning.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuOverrides.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuRangePartitioner.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuRangePartitioning.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuShuffleExchangeExec.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuShuffledHashJoinExec.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuSinglePartitioning.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuSortExec.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuSortMergeJoinExec.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuTransitionOverrides.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuWindowExec.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuWindowExpression.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/RapidsMeta.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/SortUtils.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/aggregate.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/basicPhysicalOperators.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/conditionalExpressions.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/constraintExpressions.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/implicits.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/namedExpressions.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/nullExpressions.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/AggregateFunctions.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/GpuFileFormatDataWriter.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/GpuFileFormatWriter.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/NormalizeFloatingNumbers.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/arithmetic.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/bitwise.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/catalyst/expressions/GpuRandomExpressions.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/datetimeExpressions.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/execution/GpuBroadcastHashJoinExec.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/mathExpressions.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/stringFunctions.scala
Labels: SQL, bug

#256 Remove special cases for contains, startsWith, and endWith
  integration_tests/src/main/python/string_test.py
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/stringFunctions.scala
Labels: SQL, bug

#263 More time ops
  docs/configs.md
  integration_tests/src/main/python/date_time_test.py
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuOverrides.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/datetimeExpressions.scala
Labels: SQL, feature request

#261 Add conditional xfail test for DISTINCT aggregates with NaN
  integration_tests/src/main/python/hash_aggregate_test.py
Labels: test

#259 Add RapidsHostMemoryStore tests
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/RapidsDeviceMemoryStore.scala
  tests/src/test/scala/com/nvidia/spark/rapids/RapidsDeviceMemoryStoreSuite.scala
  tests/src/test/scala/com/nvidia/spark/rapids/RapidsHostMemoryStoreSuite.scala
Labels: test

#274 Add RapidsDiskStore tests
  tests/src/test/scala/com/nvidia/spark/rapids/RapidsDiskStoreSuite.scala
  tests/src/test/scala/com/nvidia/spark/rapids/TestUtils.scala
Labels: test

#283 add H1 title to index page
  index.md
Labels: documentation

#281 Add in support for Full Outer Join on non-null keys
  integration_tests/src/main/python/join_test.py
  integration_tests/src/main/python/qa_nightly_sql.py
  integration_tests/src/test/scala/com/nvidia/spark/rapids/JoinsSuite.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuHashJoin.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuShuffledHashJoinExec.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuSortMergeJoinExec.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/execution/GpuBroadcastHashJoinExec.scala
Labels: SQL

#285 modify run_pyspark_from_build.sh to be bash 3 friendly
  integration_tests/run_pyspark_from_build.sh
Labels: build

#273 Added releases to the README.md
  README.md
Labels: documentation

#287 Add in support for right join and fix issues build right
  integration_tests/src/main/python/join_test.py
  integration_tests/src/main/python/qa_nightly_sql.py
  integration_tests/src/test/scala/com/nvidia/spark/rapids/JoinsSuite.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuHashJoin.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuShuffledHashJoinExec.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/execution/GpuBroadcastHashJoinExec.scala
Labels: SQL

#289 Clean up GpuCollectLimitMeta and add in metrics
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/limit.scala
Labels: SQL

#254 Cleanup QA tests
  integration_tests/src/main/python/qa_nightly_select_test.py
  integration_tests/src/main/python/qa_nightly_sql.py
Labels: test

#299 Removed SNAPSHOT reference from configs.md
  docs/configs.md
Labels: documentation

#296 Added in basic support for broadcast nested loop join
  docs/configs.md
  integration_tests/src/main/python/join_test.py
  integration_tests/src/test/scala/com/nvidia/spark/rapids/JoinsSuite.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuHashJoin.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuOverrides.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/RapidsConf.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/RapidsMeta.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/execution/GpuBroadcastExchangeExec.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/execution/GpuBroadcastNestedLoopJoinExec.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/execution/TrampolineUtil.scala
Labels: SQL

#301 Add info about branches in README.md
  README.md
Labels: documentation

#303 Update compatibility doc for -0.0 issues
  docs/compatibility.md
Labels: documentation

#304 [DOC][Minor] Fix typo in spark config name.
  docs/getting-started.md
  sql-plugin/src/main/scala/com/nvidia/spark/ExclusiveModeGpuDiscoveryPlugin.scala
Labels: documentation
