Repository NVIDIA/spark-rapids, pull requests merged in 2025-07, with the labels that each got.

#12972 [DOC] updates gh-pages docs for 25.06.0 release [skip ci]
  docs/additional-functionality/advanced_configs.md
  docs/additional-functionality/rapids-udfs.md
  docs/additional-functionality/shuffle-docker-examples/Dockerfile.rocky_no_rdma
  docs/additional-functionality/shuffle-docker-examples/Dockerfile.rocky_rdma
  docs/additional-functionality/shuffle-docker-examples/Dockerfile.ubuntu_no_rdma
  docs/additional-functionality/shuffle-docker-examples/Dockerfile.ubuntu_rdma
  docs/compatibility.md
  docs/configs.md
  docs/dev/mem_debug.md
  docs/dev/nvtx_profiling.md
  docs/dev/nvtx_ranges.md
  docs/dev/shims.md
  docs/dev/testing.md
  docs/download.md
  docs/supported_ops.md
Labels: documentation

#13030 mvn verify cache: replace xmllint with ubuntu built-in commands [skip ci]
  .github/workflows/mvn-verify-check/get-deps-sha1.sh
Labels: build

#13036 Add Debug Metrics tracking the parallelism of multithreaded reader
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuMultiFileReader.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/parquet/GpuParquetScan.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/GpuFileSourceScanExec.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/GpuTaskMetrics.scala
Labels: task

#13039 Fix failed cases in ParseDateTimeSuite for Spark 400
  integration_tests/src/main/python/date_time_test.py
  tests/src/test/scala/com/nvidia/spark/rapids/ParseDateTimeSuite.scala
Labels: test, Spark 4.0+

#13050 Merge nulls for left and right operands before performing a div
  integration_tests/src/main/python/arithmetic_ops_test.py
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/arithmetic.scala
Labels: Spark 4.0+

#13066 Fix delta time travel test
  integration_tests/src/main/python/delta_lake_time_travel_test.py
Labels: test

#13043 Spark-4.0: Enable ansi mode for some of the integration tests [databricks]
  integration_tests/src/main/python/aqe_test.py
  integration_tests/src/main/python/cache_test.py
  integration_tests/src/main/python/datasourcev2_read_test.py
  integration_tests/src/main/python/dpp_test.py
  integration_tests/src/main/python/grouping_sets_test.py
  integration_tests/src/main/python/hive_delimited_text_test.py
  integration_tests/src/main/python/kudo_dump_test.py
  integration_tests/src/main/python/parquet_test.py
Labels: test, Spark 4.0+

#13075 Revert "Support RuntimeReplaceable version of StructsToJson for Spark 400 [databricks] (#13029)"
  integration_tests/src/main/python/json_test.py
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuOverrides.scala
  sql-plugin/src/main/spark320/scala/org/apache/spark/sql/rapids/shims/PreRuleShims.scala
  sql-plugin/src/main/spark400/scala/org/apache/spark/sql/rapids/shims/PreRuleShims.scala
Labels: task

#13079 Add $ in front of bash variable IS_SPARK_35X in spark-test.sh
  jenkins/spark-tests.sh
Labels: test

#13084 Skip `test_time_travel_on_non_existing_table` with 'AS OF' before Spark 3.3.0
  integration_tests/src/main/python/delta_lake_time_travel_test.py
Labels: test

#13032 Update tests/aggregations for ANSI mode, when they don't care
  integration_tests/src/main/python/hash_aggregate_test.py
  integration_tests/src/main/python/window_function_test.py
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuOverrides.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/aggregate/aggregateFunctions.scala
  tests/src/test/scala/com/nvidia/spark/rapids/CsvScanSuite.scala
  tests/src/test/scala/com/nvidia/spark/rapids/ExpandExecSuite.scala
  tests/src/test/scala/com/nvidia/spark/rapids/GpuBringBackToHostSuite.scala
  tests/src/test/scala/com/nvidia/spark/rapids/HashAggregatesSuite.scala
  tests/src/test/scala/com/nvidia/spark/rapids/HashSortOptimizeSuite.scala
  tests/src/test/scala/com/nvidia/spark/rapids/OrcScanSuite.scala
  tests/src/test/scala/com/nvidia/spark/rapids/UnaryOperatorsSuite.scala
  tests/src/test/scala/com/nvidia/spark/rapids/WindowFunctionSuite.scala
  tests/src/test/scala/com/nvidia/spark/rapids/lore/GpuLoreSuite.scala
  tests/src/test/scala/org/apache/spark/sql/rapids/OrcFilterSuite.scala
  tests/src/test/scala/org/apache/spark/sql/rapids/ParquetFilterSuite.scala
Labels: Spark 4.0+

#13082 Add a write round trip test for managed delta tables
  integration_tests/src/main/python/asserts.py
  integration_tests/src/main/python/delta_lake_utils.py
  integration_tests/src/main/python/delta_lake_write_test.py
Labels: test

#13056 Revert "declare shuffle thread for threaded writer and reader"
  integration_tests/run_pyspark_from_build.sh
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/RapidsConf.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/RmmRapidsRetryIterator.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/RapidsShuffleInternalManagerBase.scala
  sql-plugin/src/main/spark320/scala/org/apache/spark/sql/rapids/shims/RapidsShuffleThreadedWriter.scala
  tests/src/test/spark321/scala/org/apache/spark/sql/rapids/RapidsShuffleThreadedWriterSuite.scala
Labels: task

#13068 Add some debug info for iceberg test.
  integration_tests/src/main/python/conftest.py
  integration_tests/src/main/python/iceberg/__init__.py
  integration_tests/src/main/python/iceberg/iceberg_merge_on_read_test.py
Labels: test

#12807 Ignore `dyn.shim.excluded.releases` when shimplifying
  build/dyn_shim_detection.py
  build/get_buildvers.py
Labels: bug

#13104 Add Spark 400 shim for get_json_object to handle named string with '?'
  integration_tests/src/main/python/get_json_test.py
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuGetJsonObject.scala
  sql-plugin/src/main/spark320/scala/com/nvidia/spark/rapids/shims/GetJsonObjectShim.scala
  sql-plugin/src/main/spark400/scala/com/nvidia/spark/rapids/shims/GetJsonObjectShim.scala
Labels: Spark 4.0+

#13114 Fix conda build CondaToSNonInteractiveError issue [skip ci]
  jenkins/Dockerfile-blossom.integration.rocky
  jenkins/Dockerfile-blossom.integration.ubuntu
Labels: bug, build

#13139 Allow override mvn command in version-def [skip ci]
  jenkins/spark-nightly-build.sh
  jenkins/version-def.sh
Labels: build

#13095 Fallback to CPU for try_ functions. [databricks]
  integration_tests/src/main/python/arithmetic_ops_test.py
  integration_tests/src/main/python/array_test.py
  integration_tests/src/main/python/map_test.py
  integration_tests/src/main/python/url_test.py
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuOverrides.scala
  sql-plugin/src/main/spark320/scala/com/nvidia/spark/rapids/shims/DecimalArithmeticOverrides.scala
  sql-plugin/src/main/spark320/scala/com/nvidia/spark/rapids/shims/Spark320PlusShims.scala
  sql-plugin/src/main/spark320/scala/com/nvidia/spark/rapids/shims/TryModeShim.scala
  sql-plugin/src/main/spark330db/scala/com/nvidia/spark/rapids/shims/DecimalArithmeticOverrides.scala
  sql-plugin/src/main/spark330db/scala/com/nvidia/spark/rapids/shims/TryModeShim.scala
Labels: Spark 3.4+, Spark 4.0+

#13155 Add approximate_float decorator to try_avg_fallback_to_cpu integration test
  integration_tests/src/main/python/arithmetic_ops_test.py
Labels: bug, test

#13149 Support side-effect check for the "else" path in GpuCaseWhen
  integration_tests/src/main/python/conditionals_test.py
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/conditionalExpressions.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/collectionOperations.scala
Labels: bug

#13162 Fix failed to_json test cases
  integration_tests/src/main/python/json_test.py
Labels: bug

#13165 Allow for better parquet type conversion [databricks]
  integration_tests/src/main/python/data_gen.py
  integration_tests/src/main/python/parquet_test.py
  integration_tests/src/main/python/spark_session.py
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/parquet/GpuParquetScan.scala
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/parquet/ParquetSchemaUtils.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/isTimestampNTZ.scala
Labels: bug

#13194 Fix a small memory leak that can show up in some error cases
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/GpuColumnarBatchSerializer.scala
Labels: bug

#13195 disable offheap limit by default
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/RapidsConf.scala
  tests/src/test/scala/com/nvidia/spark/rapids/GpuDeviceManagerSuite.scala
Labels: bug

#13180 Add tests for the cases of decimal precision going beyond 38[databricks]
  integration_tests/src/main/python/decimal_precision_over_max_test.py
Labels: Spark 4.0+

#13206 Add the project name for jdk-profiles [skip ci]
  jdk-profiles/pom.xml
  scala2.13/jdk-profiles/pom.xml
Labels: build, improve

#13108 Support ANSI multiply
  integration_tests/src/main/python/arithmetic_ops_test.py
  integration_tests/src/main/python/ast_test.py
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/ColumnViewUtils.scala
  sql-plugin/src/main/scala/org/apache/spark/sql/rapids/arithmetic.scala
  sql-plugin/src/main/spark320/scala/com/nvidia/spark/rapids/shims/DecimalArithmeticOverrides.scala
  sql-plugin/src/main/spark330db/scala/com/nvidia/spark/rapids/shims/DecimalArithmeticOverrides.scala
Labels: Spark 4.0+

#13192 Fix bug with divide by zero in ANSI avg on decimal128 output
  integration_tests/src/main/python/hash_aggregate_test.py
  sql-plugin/src/main/spark320/scala/org/apache/spark/sql/rapids/aggregate/aggregateFunctions.scala
  sql-plugin/src/main/spark330db/scala/org/apache/spark/sql/rapids/aggregate/aggregateFunctions.scala
Labels: bug

#12506 Fix AST report can not create non-fixed-width column error [databricks]
  integration_tests/src/main/python/ast_test.py
  sql-plugin/src/main/scala/com/nvidia/spark/rapids/basicPhysicalOperators.scala
Labels: bug

#13207 Specify timestamp format for to_json for Spark 400
  integration_tests/src/main/python/json_test.py
Labels: bug

#13218 Use non-ANSI mode to fix overflow error on Spark 400
  integration_tests/src/main/python/ast_test.py
Labels: test, Spark 4.0+
